# Cau hinh Tro Ly CNTT - QLTS (thu nghiem cong 5/6)
server = http://127.0.0.1:8001/agent/inventory
user = qlts-agent
password = fcc664a7c3d8e61ab2dc3408b6514ff079861e8538e71f43
tasks = inventory,deploy
delaytime = 86400
